 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}
.google-sign-in{
    height: 12vh;
    margin-top: 30vh;
    margin-left: 60vh;
    background-color: white;
    cursor: pointer;
}
.button-logout{
  position: absolute;
  margin-top: 4vh;
  margin-left: 70vh;
}
.textoflist{
  font-size: 18px;
}
.li{
  font-size: 18px;
}
.apiReplace{
    position: absolute;
    margin-top: 14vh;
    margin-left: 10vh;
    display: inline-block;
}
.lists{
  margin-top: 6vh;
  font-size: 18px;
}
.left{
  margin-top: 2vh;
    width: 80vh;
    display: inline-block;
}
.admin-btn{
  width: 28%;
  margin-left: 20px;
  margin-bottom: 20px;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
.admin-btn:hover{
  border-color: #2691d9;
  transition: .5s;
}
.noteTwo{
  margin-left: 3vh;
}
@media screen and (max-width: 480px) {
  body {
    font-size: 14px; 
  }

  .center {
    width: 90%;
    margin-left: 24vh;
    margin-top: 2vh;
  }

  .note{
    width: 40vh;
  }
  .noteTwo{
    margin-left: 3vh;
  }
  .button-logout {
    margin-left: 20%; 
    transform: translateX(-50%);
  }

  .apiReplace {
    margin-top: 30vh;
    margin-left: 5vh;
  }

  .lists {
    margin-top: 3vh;
  }



  .admin-btn {
    width: 45%;
    margin-left: 5px;
    margin-bottom: 10px;
    height: 40px;
    font-size: 14px;
  }
  .button-logout {
    position: relative;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
  }
  .apiReplace {
    position: relative;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto; 
    width: 90%;
    text-align: center;
  }
  .google-sign-in{
    position: absolute;
    margin-left: -24.6vh;
    height: 40px;
  }
} 
