 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

.centeradmin{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
} 
.sign-in-text{
  font-size: 20px;
  margin-left: 20vh;
}

.button-logout{
  position: absolute;
  background-color: grey;
  color: white;
  border: none;
  height: 8vh;
  width: 18vh;
  margin-top: 2vh;
  margin-left: 94vh;
}
.error-admin-panel{
  margin-left: 80vh;
  margin-top: 40vh;
}
.error-admin-panelm{
  margin-left: 88vh;
}
.button-logout:hover{
  background-color: black;
}
.textoflist{
  font-size: 18px;
}
.li{
  font-size: 18px;
}
.apiReplace{
  background-color: rgb(80, 133, 138);
  height: 40vh;
  width: 80vh;
  padding-left: 4vh;
  padding-right: 4vh;
    position: absolute;
    margin-top: 2vh;
    margin-left: 10vh;
    display: inline-block;
}
.lists{
  margin-top: 6vh;
  font-size: 18px;
}
.left{
  margin-top: 2vh;
    width: 80vh;
    display: inline-block;
}

.noteTwo{
  margin-left: 3vh;
}
@media screen and (max-width: 480px) {
  body {
    font-size: 14px; 
  }

  .center {
    width: 90%;
    margin-left: 24vh;
    margin-top: 2vh;
  }

  .note{
    width: 40vh;
  }
  .noteTwo{
    margin-left: 3vh;
  }
  .apiReplace {
    margin-top: 30vh;
    margin-left: 5vh;
  }

  .lists {
    margin-top: 3vh;
  }

  .button-logout {
    position: relative;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    display: block;
    text-align: center;
  }
  .apiReplace {
    position: relative;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto; 
    width: 90%;
    text-align: center;
  }
  .google-sign-in{
    position: absolute;
    margin-left: -24.6vh;
    height: 40px;
  }
} 
